body {
  user-select: none;
}

.song-list button {
  transition: all 0.4s ease-in-out !important;
}

#music-app {
  width: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20rem);
}

.card img {
  width: 100%;
  max-height: 11rem;
  object-fit: cover;
  object-position: center;
  -webkit-user-drag: none;
}

/* card-body */

/* song-details */
.title {
  font-family: "Risque", Arial, sans-serif;
  color: darkmagenta;
  font-weight: 500;
  font-size: 1.2rem;
}
.singer {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
}
/* song-progress */

/* controls */

/* card-footer */
.footer-buttons button {
  background-color: rgb(0, 206, 209);
}
.footer-buttons button:hover {
  background-color: rgba(0, 206, 209, 0.7);
  color: #fff;
}
